# Ignore Laravel-specific files
/vendor/
/node_modules/
/.env
/public/storage
/public/build
/public/hot
/bootstrap/cache/
# Keep necessary storage files
/storage/*
!/storage/logs/
!/storage/framework/
